.fundo {
  width: 100%;
  height: 30vh;
  background-image: url(../imagens/fundoResidencial.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(1.1);
}

.resumo {
  padding: 20px;
}

.resumo li {
  list-style: disc;
}
.orcamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orcamentoLink {
  text-decoration: none;
  color: white;
  background-color: #023e73;

  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.orcamentoLink:hover {
  background-color: #034c8d;
  transform: scale(1.1);
  text-decoration: underline;
}
