#titulo p {
  padding: 20px;
}
.titulo {
  text-align: center;
  padding: 10px;
}

#servicos {
  margin: 10px;
}
.area1 {
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: center;
  text-align: justify;
}
.linkLinha {
  text-decoration: none;
  color: black;
}
.linkLinha:hover {
  color: #014179;
}
.linha {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  padding: 10px;
}

.linha h2 {
  margin-bottom: 10px;
}
.link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#imgResidencial {
  height: 300px;
  width: 300px;

  margin: 10px;

  background-image: url(../imagens/residencial.jpg);
  background-position: left center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;

  filter: grayscale(0%);
  transition: filter 0.3s ease;
}
#imgResidencial:hover {
  filter: grayscale(100%);
}
.area2 {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  align-items: center;
  text-align: justify;
}

#imgReparos {
  height: 300px;
  width: 300px;

  margin: 10px;

  background-image: url(../imagens/reparos.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  filter: grayscale(0%);
  transition: filter 0.3s ease;
}
#imgReparos:hover {
  filter: grayscale(100%);
}
#imgMelhorias {
  height: 300px;
  width: 300px;

  margin: 10px;

  background-image: url(../imagens/melhorias.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  filter: grayscale(0%);
  transition: filter 0.3s ease;
}
#imgMelhorias:hover {
  filter: grayscale(100%);
}

.area3 {
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: center;
  text-align: justify;
}

#reparos {
  height: 350px;
}

#imgManutencao {
  height: 300px;
  width: 300px;

  margin: 10px;

  background-image: url(../imagens/img5.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}
.area4 {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  align-items: center;
  text-align: justify;
}

#imgRural {
  height: 300px;
  width: 300px;

  margin: 10px;

  background-image: url(../imagens/img4.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}
.area5 {
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: center;
  text-align: justify;
}

#imgTensao {
  height: 300px;
  width: 300px;

  margin: 10px;

  background-image: url(../imagens/img8.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}
.area6 {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  align-items: center;
  text-align: justify;
}

#imgAr {
  height: 300px;
  width: 300px;

  margin: 10px;

  background-image: url(../imagens/img6.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}
.area7 {
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: center;
  text-align: justify;
}

#imgLed {
  height: 300px;
  width: 300px;

  margin: 10px;

  background-image: url(../imagens/img7.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}
.area8 {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  align-items: center;
  text-align: justify;
}
