@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,600;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --corEscura: #2e3640;
  --azulForte: #011126;
  --azulMedio: #023e73;
  --azulFraco: #034c8c;
  --preto: #00040d;
}

/* Começo do HEADER */
header {
  background-image: linear-gradient(to right, #011126, #034c8c);
  height: 130px;
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
}
#logo {
  color: white;
  padding: 20px;
}
ul {
  display: flex;
  justify-content: end;
}

nav li {
  font-family: "Kanit";
  font-weight: 500;
  list-style: none;
  margin: 10px;
  color: white;
  background-color: #2e3640;
  padding: 4px;
  border-radius: 10px;
}

nav li:hover {
  background-color: #485566;
  cursor: pointer;
}

/*Começo do MAIN*/
main {
}
.apresentacao {
}
.principal {
  width: 100%;
}
.destaque {
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(to right, #00060e, #034c8c);
}

.parte1 {
  display: block;
  margin: auto;
  padding: 10px;
  width: 100%;
  height: 200px;
  background-color: #011126;
}

.tamanhoParte1 {
  width: 450px;
  margin: auto;
}
.parte1 h1 {
  text-align: center;
  font-family: "Kanit";
  font-weight: 700;
  background-color: var(--azulFraco);
  color: white;
}
.parte1 p {
  text-align: justify;
  padding: 10px;
  font-family: "Kanit";
  color: white;
}

.parte2 {
}
.tamanhoParte2 {
  width: 95%;
  height: 300px;
  margin: 20px;
}

.parte2 h2 {
  text-align: center;
  font-family: "Kanit";
}

.lista {
  display: block;
}

.lista li {
  text-align: justify;
  padding: 10px;
}

.separador {
  height: 3px;
  width: 100%;
  background-image: linear-gradient(to right, #00060e, #034c8c);
}
.containerPrin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container {
  margin: 20px;
  height: 500px;
  width: 400px;
  border-radius: 10px;
  transition: filter 0.5s ease;
}

.container:hover {
  filter: saturate(0);
}
.container h2 {
  text-align: center;
  font-family: "Kanit";
  font-weight: 700;
  padding: 10px;
}
.container p {
  text-align: justify;
  font-family: "Kanit";
  font-weight: 500;
  padding: 5px;
}
.imagem1 {
  height: 200px;
  border-radius: 10px;
  width: 100%;
  background-image: url(../imagens/img1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.imagem2 {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  background-image: url(../imagens/img4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.imagem3 {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  background-image: url(../imagens/img5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imagem4 {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  background-image: url(../imagens/img6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imagem5 {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  background-image: url(../imagens/img7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imagem6 {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  background-image: url(../imagens/img8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Começo do footer */
footer {
  background-color: #00417a;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.containeriframes {
}

#iframes {
}

footer h3 {
  color: white;
}
