@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,600;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --corEscura: #2e3640;
  --azulForte: #011126;
  --azulMedio: #023e73;
  --azulFraco: #034c8c;
  --preto: #00040d;
}

/* Começo do HEADER */
header {
  background-image: linear-gradient(to right, #011126, #034c8c);
  height: 130px;
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
}
#logo {
  color: white;
  padding: 20px;
}
.logo {
  background-image: url(../imagens/logo01.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 180px;
  border-radius: 10px;
}

nav li {
  font-family: "Kanit";
  font-weight: 500;
  list-style: none;
  margin: 10px;
  color: cornsilk;
  background-color: var(--azulMedio);
  padding: 4px;
  border-radius: 10px;
}

.menu-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  margin: 10px;
  position: fixed;
  top: 9%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 5px;
}
.menu-button:hover {
  background-image: linear-gradient(to right, #010b18, #014179);
}
.menu {
  position: fixed;
  top: 0;
  left: -250px; /* Define a largura inicial do menu (menu está escondido) */
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  padding: 10px;
  color: #fff;
}

nav li:hover {
  background-image: linear-gradient(to right, #010b18, #014179);
  cursor: pointer;
}

/*Começo do MAIN*/
main {
}
.apresentacao {
}
.principal {
  width: 100%;
}
.destaque {
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(to right, #00060e, #034c8c);
}

.parte1 {
  padding: 10px;
  width: 60vw;
  max-width: 500px;
  text-align: center;
}
.imagemfundo {
  width: 100%;
  height: 100vh;
  background-image: url(../imagens/fundo1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.tamanhoParte1 {
  width: 100%;
}
.parte1 h1 {
  font-family: "Kanit";
  font-weight: 700;
  color: var(--azulFraco);
  background-color: #00000054;
}
.parte1 p {
  text-align: justify;
  padding: 10px;
  font-family: "Kanit";
  color: white;
  background-color: #00000054;
}

.parte2 {
}
.tamanhoParte2 {
  width: 95%;
  height: 400px;
  margin: 20px;
}

.parte2 h2 {
  text-align: center;
  font-family: "Kanit";
}

.lista {
  display: block;
}

.lista li {
  text-align: justify;
  padding: 10px;
}

.separador {
  height: 3px;
  width: 90vw;
  border-radius: 10px;
  margin: auto;
  background-image: linear-gradient(to right, #00060e, #034c8c);
}
.containerPrin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container {
  margin: 20px;
  height: 500px;
  width: 300px;
  border-radius: 10px;
  transition: filter 0.5s ease;
}

.container:hover {
  filter: saturate(0);
}
.container h2 {
  text-align: center;
  font-family: "Kanit";
  font-weight: 700;
  padding: 10px;
}
.container p {
  text-align: justify;
  font-family: "Kanit";
  font-weight: 500;
  padding: 5px;
}
.imagem1 {
  height: 200px;
  border-radius: 10px;
  width: 100%;
  background-image: url(../imagens/img1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.imagem2 {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  background-image: url(../imagens/img4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.imagem3 {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  background-image: url(../imagens/img5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imagem4 {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  background-image: url(../imagens/img6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imagem5 {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  background-image: url(../imagens/img7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imagem6 {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  background-image: url(../imagens/img8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Começo do footer */
footer {
  background-color: #00417a;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.containeriframes {
}

#iframes {
}

footer h3 {
  color: white;
}
/* FIM DO MAIN */

/*COMEÇO DO SERVIÇOS*/
#titulo p {
  padding: 10px;
}
.titulo {
  text-align: center;
}

#servicos {
  margin: 10px;
}
.area1 {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.linha {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  padding: 10px;
}

.linha h2 {
  margin-bottom: 10px;
}
#imgResidencial {
  height: 300px;
  width: 300px;

  margin: 10px;

  background-image: url(../imagens/residencial.jpg);
  background-position: left center;
  background-size: cover;
}

.area2 {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
}

#imgPredial {
  height: 300px;
  width: 300px;

  margin: 10px;

  background-image: url(../imagens/predial.jpg);
  background-position: center;
  background-size: cover;
}
